<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://entra-phishing-detector20240129142137.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cbc5628f-37c0-48f8-ab83-c272060cc188/resourcegroups/rg-ps-phishing/providers/Microsoft.Web/sites/entra-phishing-detector20240129142137</ResourceId>
    <UserName>$entra-phishing-detector20240129142137</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://entra-phishing-detector20240129142137.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>